{% extends "base_generic.html" %}

{% block content %}
  <h1>Улей: {{ beehive }}</h1>
    {% for reminder in beehive.reminder_set.all %}
    <p>NB!!! <strong><a href="{% url 'reminder_update' reminder.pk %}">{{ reminder.post_date }}:</a> </strong>{{reminder.text}}</p>
    {% endfor %}
  <li><a href="{% url 'reminder_create' beehive.id %}">Добавить напоминание</a></li>

___________________________________
    {% if request.user.is_authenticated  %}
        <li><a href="{% url 'beehive_update' beehive.pk %}">Beehive update</a></li>
    {% endif %}

<!--  <li><a href="{% url 'reminder_create' beehive.id %}">Добавить напоминание</a></li>-->


    <table class="table table-striped table-sm">
         <tr>
    <th>Дата создания</th>
    <th>Ряд</th>
    <th>Матка</th>
    <th>К-во корп.</th>
    <th>Улей</th>

           </tr>

          <tr>
              <td>{{ beehive.pub_date }} </td>
              <td>{{beehive.row}} </td>
              <td>{{beehive.queen}}</td>
              <td>{{beehive.get_volume_display}}</td>
              <td>{{beehive.get_type_hive_display}}</td>
          </tr>

      </table>

<!--   <p> <strong>Дата создания: </strong> {{ beehive.pub_date }} </p>-->
<!--   <p> <strong>Ряд: </strong> {{ beehive.row }} </p>-->
<!--   <p> <strong>Матка: </strong> {{ beehive.queen }} </p>-->
<!--   <p> <strong>Количество корпусов: </strong> {{ beehive.get_volume_display }} </p>-->
<!--   <p> <strong>Тип улья: </strong> {{ beehive.get_type_hive_display}} </p>-->


   <p><strong>Описание:</strong> {{ beehive.text }}</p>
<!--   <p>{{ beehive.text }}</p>-->

  <li><a href="{% url 'honey_create' beehive.pk %}">Добавить рамки</a></li>

___________________________________

  <li><a href="{% url 'action_create' beehive.id %}">Новое событие</a></li>
<!--____________________________________________-->

<!--  <p><strong>Action:</strong></p>-->

<!--    {% for action in beehive.action_set.all %}-->

<!--    <p><strong><a href="{% url 'action_update' action.pk %}">{{action.post_date}}:</a></strong> {{action.text}}</p>-->

<!--    {% endfor %}-->


___________________________________

<!-- Вывод событий в хронологической последовательности -->
<p><strong>События:</strong></p>

  {% for event in events %}
    {% if event.get_event_type == 'Action' %}
    <p>[A] <strong><a href="{% url 'action_update' event.pk %}">{{ event.post_date }}</a> </strong>  {{ event.text }}</p>
    {% elif event.get_event_type == 'Work' %}
    <p>[W] <strong><a href="{% url 'work_detail' event.pk %}">{{ event.post_date }}</a> </strong> {{ event.text }}</p>
    {% endif %}
  {% empty %}
    <li>Нет событий.</li>
  {% endfor %}

<!-- Пагинация -->
<div class="pagination">
  {% if events.has_previous %}
    <a href="?page={{ events.previous_page_number }}"> Предыдущая </a>
  {% endif %}
  <span class="current-page"> {{ events.number }} </span>
  {% if events.has_next %}
    <a href="?page={{ events.next_page_number }}"> Следующая </a>
  {% endif %}
</div>


{% endblock %}
