{% extends "base_generic.html" %}

{% block content %}


<h1>Напоминания</h1>

    <ul class="sidebar-nav">
            <li><strong><a href="{% url 'rem_create' %}">Новое напоминание</a></strong></li>
    </ul>

    {% if reminder_list %}
    <ul>
    <table class="table table-striped table-hover table-sm">
         <tr>
    <th>ПС</th>
    <th>Дата</th>
    <th>Текст</th>
    <th>is_active</th>

           </tr>

      {% for reminder in reminder_list %}
          <tr>
              <td><a href="{% url 'beehive_detail' reminder.beehive.pk %}">{{ reminder.beehive }}</a> </td>
              <td><a href="{{ reminder.get_absolute_url }}">{{ reminder.post_date }}</a> </td>
              <td>{{reminder.text}} </td>
              <td>{{reminder.is_active}} </td>

          </tr>

      {% endfor %}
      </table>
    </ul>
    {% else %}
      <p>нет row...</p>
    {% endif %}
{% endblock %}