{% extends "base_generic.html" %}

{% block content %}


<h1>Ряды</h1>

    <ul class="sidebar-nav">
            <li><a href="{% url 'row_create' %}">Новый ряд</a></li>
    </ul>

    {% if row_list %}
    <ul>
    <table class="table table-striped">
         <tr>
    <th>Название</th>
    <th>К-во ПС</th>
    <th>Изменить</th>
           </tr>

      {% for row in row_list %}
          <tr>
              <td><a href="{{ row.get_absolute_url }}">{{ row }}</a> </td>
              <td>{{ row.beehive_set.count }}</a> </td>
              <td><a href="{% url 'row_update' row.pk %}">Update</a> </td>

          </tr>

      {% endfor %}
      </table>
    </ul>
    {% else %}
      <p>нет row...</p>
    {% endif %}
{% endblock %}