{% extends "base_generic.html" %}

{% block content %}
  <h1>Ряд: {{ row }}</h1>
    {% if request.user.is_authenticated  %}
        <li><strong><a href="{% url 'row_create' %}">Новый ряд</a></strong></li>
        <li><strong><a href="{% url 'row_update' row.pk %}">Row update</a></strong></li>
    {% endif %}
   <p> <strong>Название: </strong> {{ row }} </p>

<table class="table table-striped">
         <tr>
            <th>ПС</th>
            <th>Матка</th>
            <th>Последний осмотр</th>
            <th>К-во корп.</th>
         </tr>

      {% for beehive in row.beehive_set.all %}
          <tr>
              <td><a href="{{ beehive.get_absolute_url }}">{{ beehive }}</a> </td>
              <td>{{beehive.queen}} </td>
              <td>{{beehive.action_set.last.post_date}} </td>
              <td>{{beehive.get_volume_display}}</td>
          </tr>

      {% endfor %}
      </table>


{% endblock %}