{% extends "base_generic.html" %}

{% block content %}
  <h1>Дата: {{ work.post_date }}</h1>
    {% if request.user.is_authenticated  %}
        <li><strong><a href="{% url 'work_create' %}">Создать групповую работу</a></strong></li>
        <li><strong><a href="{% url 'work_update' work.pk %}">Update</a></strong></li>

    {% endif %}
__________
   <p> <strong>Работы: </strong> {{ work.text }} </p>
__________
<!--   <p> <strong>ПС: </strong> {{ work.beehive.all }} </p>-->
   <p> <strong>ПС: </strong>
            {% for beehive in work.beehive.all %}
          <p><a href="{% url 'beehive_detail' beehive.pk %}">{{ beehive }}</a> ;</p>
          {% endfor %}




{% endblock %}