{% extends "base_generic.html" %}

{% block content %}
<h1>Bee Hive</h1>

        <ul>
            <li><strong>Количество ПС:</strong> {{ num_hive }} </li>
            <li><strong>Количество маток по проихождению:</strong> {{ num_queen }}</li>
            <li><strong>Количество записаных действий:</strong> {{ num_action }}</li>
            <li><strong>Количество напоминаний:</strong> {{ num_reminder }}</li>


        </ul>

        <ul>

            <li><strong>Количество медовых ПС:</strong> {{ count_honey }}</li>
            <li><strong>Среднее кол-во МР на ПС:</strong> {{ avg_honey }}</li>
            <li><strong>Максимально кол-во МР в ПС:</strong> {{ max_honey }}</li>
            <li><strong>Минимальное кол-во МР в ПС:</strong> {{ min_honey }}</li>
            <li><strong>Сумма отобранных МР:</strong> {{ sum_honey }}</li>

        </ul>




{% endblock %}
